.About {
    width: 80%;
    margin: auto;
}


.About h1 {
    padding: 20px;
}


.About p {
    width: 80%;
    margin: auto;
}


.About button {
    margin: 40px;
    padding: 6px;
    background-color: rgb(13, 114, 230);
    border-radius: 5px;
    border: none;

    &:hover {
        box-shadow: rgb(153, 153, 153) 0px 0px 3px 3px;
    }
}

.About a {
    padding: 6px;
    color: white;
    text-decoration: none;
}